/* font-family: 'Bebas Neue', cursive; */




/* * {
  border: 2px blue solid;
} */

h1 {
  font-size: 50px;
}

html, body, section {
  font-family: 'Bebas Neue', cursive;
  height: 100%;
}

body {
font-size: 1.25rem;
height: 100vh;
text-align: center;
overflow-y: hidden;
margin: 0;
}

main {
  background-color: #F6CACA;
  width: 50%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

p {
  display: flex;
  margin: 5px;
}

.container {
  display: flex;
}

.left-side,
.right-side {
  background-color: #44CFCB;
  width: 25%;
}

.box-1,
.box-2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 200px;
  width: 200px;
  background-color: rgba(225, 225, 225, .9);
  opacity: 1.0;
  margin-top: 40px;
}

.classic-game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.difficult-rules {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.human-icon,
.computer-icon {
  display: flex;
  justify-content: center;
}

.score-keeper {
  display: flex;
  justify-content: center;
}

.human,
.computer {
  margin-top: 60px;
}

.fighter-icons {
  width: 100px;
  height: 100px;
}

.hidden {
  display: none;
}
